package views

import "github.com/Tboules/dc_go_fullstack/internal/views/layouts"
import "strconv"

templ HomePage(count int) {
	@layouts.MainLayout() {
		<div class="bg-blue-200">
			<h1>Page Load testing </h1>
			@CountButton(count)
		</div>
	}
}

templ CountButton(count int) {
	<button hx-post="/" hx-swap="outerHTML">+{ strconv.Itoa(count) }</button>
}
