package views

import "github.com/Tboules/dc_go_fullstack/internal/views/layouts"
import "strconv"

templ HomePage(name string) {
	@layouts.MainLayout() {
		<div class="bg-blue-200">
			<p>
				Hello, { name }
			</p>
			@CountButton(0)
		</div>
	}
}

templ CountButton(count int) {
	<button hx-post="/" hx-swap="outerHTML">+{ strconv.Itoa(count) }</button>
}
