package views

import "github.com/Tboules/dc_go_fullstack/internal/views/layouts"

templ TodoPage() {
	@layouts.MainLayout() {
		<main class="p-4 max-w-screen-lg m-auto">
			<h1 class="p-4">Todo Page </h1>
		</main>
	}
}
